{
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "prettier",
    "sort-destructure-keys",
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-no-bind": "off",
    "react/prop-types": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "prefer-const": "warn",
    "react/destructuring-assignment": "warn",
    "sort-destructure-keys/sort-destructure-keys": "warn",
    "no-console": "warn",
    "no-shadow": "error",
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "ignoreCase": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": "plugin:@typescript-eslint/recommended",
      "rules": {}
    }
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts"]
      }
    }
  }
}
