{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["import", "jsx-a11y", "react", "react-hooks"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-unresolved": 0
  }
}
